<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onsubmit()">
      <h2>Iniciar Sesión</h2>
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" id="usermail" formControlName="usermail" name="username" placeholder="Ingrese su usuario" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" name="password" placeholder="Ingrese su contraseña" required>
      </div>
      <button type="submit">Iniciar Sesión</button>
      <button type="button" class="google-login">
        <img src="assets/LogoGmail.webp"> Iniciar sesión con Google
      </button>
    </form>
  </div>
